#banner
    .banner_content
        %h1 EverEverNote
        %p Your Life's Work
        %button= link_to "Sign Up", new_user_registration_path
#testimonial
    .wrapper
        %p.quote "I keep all our important shit in EverEverNote!"
        %p.name - Your Mom
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Journal
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and 
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and 
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text 
            .callout
                %h2 Notes
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and 
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and 
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text
            .callout
                %h2 Epic
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and 
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and 
                Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text and Some Text More Text    
                
#bottom_cta
    .wrapper
        %h2 Store All Your Notes!
        %p Be Different, Join the Elites!
        %button= link_to "Start Here", new_user_registration_path

%footer
    %p &copy; Simon Leung